In [1]:
import pandas as pd
import sqlalchemy as sqla
from vali_tools import valitools as vt
import datetime
from faker import Faker

In [4]:
# Step 3: Create a SQLAlchemy engine to connect to PostgreSQL
# Replace the placeholders with your actual database credentials
db_username = 'postgres'
db_password = 'sariroti123'
db_host = 'localhost'
db_port = '5432'
db_name = 'quiros'

engine = sqla.create_engine(f'postgresql+psycopg2://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}')
con = engine.connect()

In [5]:
with engine.connect() as conn:
    ord = pd.read_sql(
        sql="select * from orders",
        con=conn.connection
    )
    per = pd.read_sql(r"select * from performance", conn.connection)
    user = pd.read_sql(r'select * from "user"', conn.connection)

C:\Users\kevin\AppData\Local\Temp\ipykernel_33688\101606014.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ord = pd.read_sql(
C:\Users\kevin\AppData\Local\Temp\ipykernel_33688\101606014.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  per = pd.read_sql(r"select * from performance", conn.connection)
C:\Users\kevin\AppData\Local\Temp\ipykernel_33688\101606014.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  user = pd.read_sql(r'select * from "user"', conn.connection)

In [6]:
vt.check_health(ord)

,col_name,null_count,unique_count,row_count,dupe_count,null_pct,unique_pct,dupe_pct,mean,std,min,max,25_pct,50_pct,75_pct,col_types,mode,freq
0,shopid,0,1001,21710,20709,0.0,0.046108,0.953892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,2206,54
1,orderid,0,21710,21710,0,0.0,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,1149084,1
2,buyerid,0,3740,21710,17970,0.0,0.172271,0.827729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,1655,24
3,itemid,0,21682,21710,28,0.0,0.998710,0.001290,5360095.636942,2321111.432475,1301035.0,9348235.0,3361641.75,5349175.0,7373384.5,numeric,NaN,NaN
4,gmv,0,100,21710,21610,0.0,0.004606,0.995394,50.621603,28.839373,1.0,100.0,26.0,50.0,76.0,numeric,NaN,NaN
5,order_time,0,366,21710,21344,0.0,0.016859,0.983141,2020-07-02 15:57:55.301704192,NaN,2020-01-01 00:00:00,2020-12-31 00:00:00,2020-04-02 00:00:00,2020-07-02 00:00:00,2020-10-04 00:00:00,numeric,NaN,NaN

In [7]:
vt.check_health(user)

,col_name,null_count,unique_count,row_count,null_pct,unique_pct,dupe_count,dupe_pct
0,shopid,0,1001,10855,0.0,0.092216,9854,0.907784
1,buyerid,0,3740,10855,0.0,0.344542,7115,0.655458
2,register_date,0,1461,10855,0.0,0.134592,9394,0.865408
3,country,0,5,10855,0.0,0.000461,10850,0.999539

In [8]:
vt.check_health(per)

,col_name,null_count,unique_count,row_count,dupe_count,null_pct,unique_pct,dupe_pct,mean,std,min,max,25_pct,50_pct,75_pct,col_types,mode,freq
0,shopid,0,1001,10855,9854,0.0,0.092216,0.907784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,2206,27
1,total_clicks,0,100,10855,10755,0.0,0.009212,0.990788,50.341594,100.0,28.626106,75.0,1.0,26.0,50.0,numeric,NaN,NaN
2,impressions,0,152,10855,10703,0.0,0.014003,0.985997,225.603409,319.0,43.422415,263.0,150.0,188.0,225.0,numeric,NaN,NaN
3,Item_views,0,101,10855,10754,0.0,0.009304,0.990696,150.452142,200.0,29.179867,176.0,100.0,125.0,151.0,numeric,NaN,NaN

### Insight on SQL test no.4
- the user table should only contain buyer information, there is no need to put shop id in the user table

In [110]:
mvn_cust = pd.read_csv("Files for Technical Test - New\Files for Technical Test\Files for Python Test\maven_music_customers.csv")
mvn_hist = pd.read_excel("Files for Technical Test - New\Files for Technical Test\Files for Python Test\maven_music_listening_history.xlsx")

In [111]:
mvn_cust.sample(5)

,Customer ID,Customer Name,Email,Member Since,Subscription Plan,Subscription Rate,Discount?,Cancellation Date
7,5759,Carol Kingbird,Email: songbird.carol@email.com,3/22/23,Premium (No Ads),$9.99,NaN,6/2/23
14,6163,Melody Parks,Email: park.of.melodies@email.com,4/5/23,Premium (No Ads),$9.99,NaN,NaN
22,6824,Greta Groove,Email: groovy.greta@email.com,5/1/23,Premium (No Ads),$7.99,Yes,6/2/23
20,6821,Reed Flat,Email: flat.tunes@email.edu,4/24/23,Basic (Ads),$2.99,NaN,NaN
28,7581,Lyric Keys,Email: keysoflyric@email.com,5/16/23,Premium (No Ads),$7.99,Yes,6/3/23

In [112]:
vt.check_health(mvn_cust)

,col_name,null_count,unique_count,row_count,dupe_count,null_pct,unique_pct,dupe_pct,mean,std,min,max,25_pct,50_pct,75_pct,col_types,mode,freq
0,Customer ID,0,30,30,0,0.000000,1.000000,0.000000,6276.333333,7583.0,814.255587,6823.5,5001.0,5759.5,6196.0,numeric,NaN,NaN
1,Customer Name,0,30,30,0,0.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,Harmony Greene,1
2,Email,0,30,30,0,0.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,Email: harmonious.vibes@email.com,1
3,Member Since,0,18,30,12,0.000000,0.600000,0.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,3/28/23,4
4,Subscription Plan,5,2,30,28,0.166667,0.066667,0.933333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,Premium (No Ads),13
5,Subscription Rate,0,4,30,26,0.000000,0.133333,0.866667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,$2.99,17
6,Discount?,23,1,30,29,0.766667,0.033333,0.966667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,Yes,7
7,Cancellation Date,17,3,30,27,0.566667,0.100000,0.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,6/1/23,6

In [113]:
#customer id to string
mvn_cust['Customer ID'] = mvn_cust['Customer ID'].astype(str)
#convert date column to datetime
mvn_cust['Member Since'] = pd.to_datetime(mvn_cust['Member Since'])
mvn_cust['Cancellation Date'] = pd.to_datetime(mvn_cust['Cancellation Date'])
#fill discount with No
mvn_cust['Discount?'] = mvn_cust['Discount?'].fillna('No')
#Subscription Plan fill with Basic(Ads)
mvn_cust['Subscription Plan'] = mvn_cust['Subscription Plan'].fillna('Basic (Ads)')

#create column is_active from cancellation date
mvn_cust['is_active'] = mvn_cust['Cancellation Date'].isnull().map({True: 1, False: 0})

C:\Users\kevin\AppData\Local\Temp\ipykernel_33688\3036037830.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  mvn_cust['Member Since'] = pd.to_datetime(mvn_cust['Member Since'])
C:\Users\kevin\AppData\Local\Temp\ipykernel_33688\3036037830.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  mvn_cust['Cancellation Date'] = pd.to_datetime(mvn_cust['Cancellation Date'])

In [114]:
#member_duration since member till cancellation date if null take from date now from member since
mvn_cust['member_duration'] = mvn_cust['Cancellation Date'] - mvn_cust['Member Since']
mvn_cust['member_duration'] = mvn_cust['member_duration'].fillna(datetime.datetime.now() - mvn_cust['Member Since'])
mvn_cust['member_duration'] = mvn_cust['member_duration'].dt.days

In [116]:
vt.check_health(mvn_hist)

,col_name,null_count,unique_count,row_count,dupe_count,null_pct,unique_pct,dupe_pct,mean,std,min,max,25_pct,50_pct,75_pct,col_types,mode,freq
0,Customer ID,0,30,505,475,0.0,0.059406,0.940594,6112.247525,7583.0,832.861221,6822.0,5001.0,5267.0,6029.0,numeric,NaN,NaN
1,Session ID,0,90,505,415,0.0,0.178218,0.821782,105225.554455,111333.0,3625.879577,109654.0,100520.0,101925.0,105116.0,numeric,NaN,NaN
2,Audio Order,0,15,505,490,0.0,0.029703,0.970297,4.138614,15.0,2.669008,6.0,1.0,2.0,4.0,numeric,NaN,NaN
3,Audio ID,0,17,505,488,0.0,0.033663,0.966337,112.063366,205.0,24.670285,109.0,101.0,103.0,105.0,numeric,NaN,NaN
4,Audio Type,0,2,505,503,0.0,0.003960,0.996040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,Song,463

In [117]:
#convert Customer ID to string
mvn_hist['Customer ID'] = mvn_hist['Customer ID'].astype(str)
#convert Session ID to string
mvn_hist['Session ID'] = mvn_hist['Session ID'].astype(str)
#convert Audio ID to string
mvn_hist['Audio ID'] = mvn_hist['Audio ID'].astype(str)

In [119]:
#get total session per customer
mvn_hist_grouped = mvn_hist.groupby('Customer ID').agg({'Session ID': 'nunique'}).reset_index()
mvn_hist_grouped.columns = ['Customer ID', 'Total Session']

#group audio id by customer id and create new dataframe
mvn_hist_grouped_audio = mvn_hist.groupby('Customer ID').agg({'Audio ID': 'count'}).reset_index()
mvn_hist_grouped_audio.columns = ['Customer ID', 'Total Audio']

#group audio id per session and average it by customer id and create new dataframe
mvn_hist_grouped_audio_per_session = mvn_hist.groupby('Customer ID').agg({'Audio ID': 'count', 'Session ID': 'nunique'}).reset_index()
mvn_hist_grouped_audio_per_session['Average Audio per Session'] = mvn_hist_grouped_audio_per_session['Audio ID'] / mvn_hist_grouped_audio_per_session['Session ID']
mvn_hist_grouped_audio_per_session = mvn_hist_grouped_audio_per_session[['Customer ID', 'Average Audio per Session']]

#pivot column count audio type by customer id and create new dataframe
mvn_hist_grouped_audio_type = mvn_hist.groupby(['Customer ID', 'Audio Type']).size().reset_index(name='Count')
mvn_hist_grouped_audio_type = mvn_hist_grouped_audio_type.pivot(index='Customer ID', columns='Audio Type', values='Count').reset_index()
mvn_hist_grouped_audio_type = mvn_hist_grouped_audio_type.fillna(0)
mvn_hist_grouped_audio_type.columns = ['Customer ID', 'total_Podcast', 'total_Song']

#pivot column average Podcast and song in audio type per session per customer id and create new dataframe
mvn_hist_grouped_audio_type_per_session = mvn_hist.groupby(['Customer ID', 'Audio Type']).agg({'Audio ID': 'count', 'Session ID': 'nunique'}).reset_index()
mvn_hist_grouped_audio_type_per_session['Average Audio per Session'] = mvn_hist_grouped_audio_type_per_session['Audio ID'] / mvn_hist_grouped_audio_type_per_session['Session ID']
mvn_hist_grouped_audio_type_per_session = mvn_hist_grouped_audio_type_per_session.pivot(index='Customer ID', columns='Audio Type', values='Average Audio per Session').reset_index()
mvn_hist_grouped_audio_type_per_session = mvn_hist_grouped_audio_type_per_session.fillna(0)
#rename column
mvn_hist_grouped_audio_type_per_session.columns = ['Customer ID', 'avg_Podcast_per_session', 'avg_Song_per_session']

#merge all dataframe
mvn_cust = mvn_cust.merge(mvn_hist_grouped, on='Customer ID', how='left')
mvn_cust = mvn_cust.merge(mvn_hist_grouped_audio, on='Customer ID', how='left')
mvn_cust = mvn_cust.merge(mvn_hist_grouped_audio_per_session, on='Customer ID', how='left')
mvn_cust = mvn_cust.merge(mvn_hist_grouped_audio_type, on='Customer ID', how='left')
mvn_cust = mvn_cust.merge(mvn_hist_grouped_audio_type_per_session, on='Customer ID', how='left')

In [120]:
mvn_cust[mvn_cust['Customer ID'] == '5001']

,Customer ID,Customer Name,Email,Member Since,Subscription Plan,Subscription Rate,Discount?,Cancellation Date,is_active,member_duration,Total Session,Total Audio,Average Audio per Session,total_Podcast,total_Song,avg_Podcast_per_session,avg_Song_per_session
0,5001,Harmony Greene,Email: harmonious.vibes@email.com,2023-03-13,Basic (Ads),$2.99,No,NaT,1,546,8,60,7.5,0.0,60.0,0.0,7.5

In [122]:
#onehot encoding subscription plan
pd.concat([mvn_cust, pd.get_dummies(mvn_cust['Subscription Plan'])], axis=1)

,Customer ID,Customer Name,Email,Member Since,Subscription Plan,Subscription Rate,Discount?,Cancellation Date,is_active,member_duration,Total Session,Total Audio,Average Audio per Session,total_Podcast,total_Song,avg_Podcast_per_session,avg_Song_per_session,Basic (Ads),Premium (No Ads)
0,5001,Harmony Greene,Email: harmonious.vibes@email.com,2023-03-13,Basic (Ads),$2.99,No,NaT,1,546,8,60,7.500000,0.0,60.0,0.000000,7.500000,True,False
1,5002,Aria Keys,Email: melodious.aria@email.edu,2023-03-13,Basic (Ads),$2.99,No,NaT,1,546,4,22,5.500000,0.0,22.0,0.000000,5.500000,True,False
2,5004,Lyric Bell,Email: rhythmical.lyric@email.com,2023-03-13,Basic (Ads),$2.99,No,2023-06-01,0,80,1,9,9.000000,0.0,9.0,0.000000,9.000000,True,False
3,5267,Rock Bassett,Email: groovy.rock@email.com,2023-03-20,Basic (Ads),$2.99,No,NaT,1,539,7,45,6.428571,0.0,45.0,0.000000,6.428571,True,False
4,5338,Rhythm Dixon,Email: beats.by.rhythm@email.edu,2023-03-20,Basic (Ads),$2.99,No,NaT,1,539,4,18,4.500000,0.0,18.0,0.000000,4.500000,True,False
5,5404,Jazz Saxton,Email: jazzy.sax@email.com,2023-03-20,Basic (Ads),$2.99,No,2023-06-03,0,75,1,8,8.000000,0.0,8.0,0.000000,8.000000,True,False
6,5581,Reed Sharp,Email: sharp.tunes@email.com,2023-03-21,Premium (No Ads),$9.99,No,NaT,1,538,3,5,1.666667,5.0,0.0,1.666667,0.000000,False,True
7,5759,Carol Kingbird,Email: songbird.carol@email.com,2023-03-22,Premium (No Ads),$9.99,No,2023-06-02,0,72,2,15,7.500000,0.0,15.0,0.000000,7.500000,False,True
8,5761,Sonata Nash,Email: musical.sonata@email.com,2023-03-28,Premium (No Ads),$9.99,No,NaT,1,531,3,5,1.666667,5.0,0.0,1.666667,0.000000,False,True
9,5763,Jazz Coleman,Email: coleman.jazzmaster@email.com,2023-03-28,Basic (Ads),$2.99,No,NaT,1,531,6,31,5.166667,0.0,31.0,0.000000,5.166667,True,False
10,5826,Chord Hayes,Email: harmonic.chord@email.com,2023-03-28,Basic (Ads),$2.99,No,NaT,1,531,3,17,5.666667,0.0,17.0,0.000000,5.666667,True,False
11,5827,Rhythm Franklin,Email: rhythmic.franklin@email.edu,2023-03-28,Basic (Ads),$2.99,No,NaT,1,531,1,7,7.000000,0.0,7.0,0.000000,7.000000,True,False
12,6029,Chord Campbell,Email: campbell.chordify@email.com,2023-03-29,Premium (No Ads),$9.99,No,2023-06-02,0,65,2,12,6.000000,0.0,12.0,0.000000,6.000000,False,True
13,6092,Benny Beat,Email: rhythmic.benny@email.com,2023-04-01,Basic (Ads),$2.99,No,2023-06-01,0,61,3,10,3.333333,7.0,3.0,2.333333,3.000000,True,False
14,6163,Melody Parks,Email: park.of.melodies@email.com,2023-04-05,Premium (No Ads),$9.99,No,NaT,1,523,3,4,1.333333,4.0,0.0,1.333333,0.000000,False,True
15,6229,Symphony Rhodes,Email: rhodes.symphony@email.com,2023-04-06,Premium (No Ads),$99.99,No,2023-06-02,0,57,2,13,6.500000,0.0,13.0,0.000000,6.500000,False,True
16,6406,Beatrice Sharp,Email: beats.by.beatrice@email.com,2023-04-08,Basic (Ads),$2.99,No,NaT,1,520,3,9,3.000000,7.0,2.0,2.333333,2.000000,True,False
17,6584,Bobby Bass,Email: bass.master.bobby@email.edu,2023-04-09,Basic (Ads),$2.99,No,NaT,1,519,2,27,13.500000,0.0,27.0,0.000000,13.500000,True,False
18,6586,Lyric Saunders,Email: lyrical.saunders@email.edu,2023-04-16,Basic (Ads),$2.99,No,NaT,1,512,2,22,11.000000,0.0,22.0,0.000000,11.000000,True,False
19,6588,Harmony Bass,Email: bass.harmony@email.com,2023-04-16,Basic (Ads),$2.99,No,2023-06-01,0,46,3,10,3.333333,5.0,5.0,1.666667,2.500000,True,False
20,6821,Reed Flat,Email: flat.tunes@email.edu,2023-04-24,Basic (Ads),$2.99,No,NaT,1,504,2,21,10.500000,0.0,21.0,0.000000,10.500000,True,False
21,6822,Kiki Keys,Email: kiki.keys.piano@email.com,2023-05-01,Premium (No Ads),$7.99,Yes,NaT,1,497,3,15,5.000000,0.0,15.0,0.000000,5.000000,False,True
22,6824,Greta Groove,Email: groovy.greta@email.com,2023-05-01,Premium (No Ads),$7.99,Yes,2023-06-02,0,32,4,31,7.750000,0.0,31.0,0.000000,7.750000,False,True
23,7087,Harmony Heart,Email: heartfelt.harmony@email.com,2023-05-01,Premium (No Ads),$7.99,Yes,2023-06-02,0,32,3,11,3.666667,3.0,8.0,1.500000,8.000000,False,True
24,7158,Harmony Wallace,Email: wallace.harmony@email.com,2023-05-07,Basic (Ads),$2.99,No,NaT,1,491,3,13,4.333333,0.0,13.0,0.000000,4.333333,True,False
25,7224,Melody Fitzgerald,Email: fitzgerald.melody@email.com,2023-05-08,Premium (No Ads),$7.99,Yes,2023-06-01,0,24,4,29,7.250000,0.0,29.0,0.000000,7.250000,False,True
26,7401,Reed Murphy,Email: murphy.reed.music@email.com,2023-05-08,Premium (No Ads),$7.99,Yes,2023-06-01,0,24,3,11,3.666667,3.0,8.0,1.500000,8.000000,False,True
27,7579,Jazz Drummond,Email: drumming.jazz@email.com,2023-05-15,Basic (Ads),$2.99,No,NaT,1,483,2,9,4.500000,0.0,9.0,0.000000,4.500000,True,False
28,7581,Lyric Keys,Email: keysoflyric@email.com,2023-05-16,Premium (No Ads),$7.99,Yes,2023-06-03,0,18,2,14,7.000000,1.0,13.0,1.000000,6.500000,False,True
29,7583,Melody Singer,Email: melodic.singer@email.com,2023-05-16,Premium (No Ads),$7.99,Yes,2023-06-01,0,16,1,2,2.000000,2.0,0.0,2.000000,0.000000,False,True

In [17]:
raw_maven = pd.read_parquet(r"output\raw\maven_raw.parquet")
#map subscription plan to 0 and 1 with 0 is Basic (Ads) and 1 is Premium
raw_maven['Subscription Plan'] = raw_maven['Subscription Plan'].map({'Basic (Ads)': 0, 'Premium (No Ads)': 1})
#convert subscription rate to float
raw_maven['Subscription Rate'] = raw_maven['Subscription Rate'].str.replace('$', '').astype(float)
#map discount to 0 and 1 with 0 is No and 1 is Yes
raw_maven['Discount?'] = raw_maven['Discount?'].map({'No': 0, 'Yes': 1})
# Get only numeric features from raw_maven
raw_maven[['Subscription Plan', 'Subscription Rate', 'is_active', 'member_duration', 'Total Session', 'Total Audio', 'Average Audio per Session', 'total_Podcast', 'total_Song', 'avg_Podcast_per_session', 'avg_Song_per_session']]

---

In [9]:
fake = Faker()

In [51]:
num_suppliers = 50
supplier_data = {
    'supplier_id': [fake.random_int(min=100000, max=999999) for _ in range(num_ip)],
    'supplier_account': [f'V{fake.unique.random_int(min=1000, max=2000)}' for _ in range(num_suppliers)],
    'supplier_name': [fake.company() for _ in range(num_suppliers)],
    'supplier_address': [fake.address() for _ in range(num_suppliers)],
    'supplier_phone': [fake.phone_number() for _ in range(num_suppliers)],
    'supplier_email': [fake.email() for _ in range(num_suppliers)],
    'supplier_origin': [fake.country() for _ in range(num_suppliers)],
    'supplier_type': [fake.random_element(elements=('Local', 'International')) for _ in range(num_suppliers)],
    'supplier_status': [fake.random_element(elements=('Active', 'Inactive')) for _ in range(num_suppliers)],
    'supplier_bank': [fake.random_element(elements=('CBA','Sendiri','BINI')) for _ in range(num_suppliers)],
    'supplier_bank_account': [fake.unique.random_int(min=10000000, max=20000000) for _ in range(num_suppliers)],
    'created_date': [fake.date_time_this_year() for _ in range(num_suppliers)],
    'modified_date': [fake.date_time_this_year() for _ in range(num_suppliers)],
    'created_by' : [fake.user_name() for _ in range(num_suppliers)],
    'modified_by' : [fake.user_name() for _ in range(num_suppliers)],
    'sys_id': [fake.random_int(min=100000000000000, max=999999999999999) for _ in range(num_suppliers)]
}
sup = pd.DataFrame(supplier_data)
sup.to_parquet(r"dwh\supplier\suppliers.parquet",index=False)

In [54]:
#faker generate dim table for IP address information
num_ip = 100
ip_data = {
    'ip_id': [fake.random_int(min=100000000000000, max=999999999999999) for _ in range(num_ip)],
    'ip_address': [fake.ipv4() for _ in range(num_ip)],
    'ip_country': [fake.country() for _ in range(num_ip)],
    'ip_city': [fake.city() for _ in range(num_ip)],
    'ip_latitude': [fake.latitude() for _ in range(num_ip)],
    'ip_longitude': [fake.longitude() for _ in range(num_ip)],
    'ip_timezone': [fake.timezone() for _ in range(num_ip)],
    'ip_org': [fake.company() for _ in range(num_ip)],
    'ip_asn': [fake.random_int(min=1000, max=9999) for _ in range(num_ip)],
    'ip_isp': [fake.random_element(elements=("telekcom","bizniz","indihouse")) for _ in range(num_ip)],
    'ip_domain': [fake.domain_name() for _ in range(num_ip)],
    'ip_zipcode': [fake.zipcode() for _ in range(num_ip)],
    'ip_created_date': [fake.date_time_this_year() for _ in range(num_ip)],
    'ip_modified_date': [fake.date_time_this_year() for _ in range(num_ip)],
    'ip_created_by' : [fake.random_element(elements=("inhouse_app","manual_input","external_src")) for _ in range(num_ip)],
    'ip_modified_by' : [fake.user_name() for _ in range(num_ip)],
    'ip_sys_id': [fake.random_int(min=100000000000000, max=999999999999999) for _ in range(num_ip)]
}
ip_ = pd.DataFrame(ip_data)
ip_.to_parquet(r"dwh\ip\ip.parquet",index=False)

In [6]:
#faker generate dim table for customer information
num_cust = 100
cust_data = {
    'customer_account': [f'C{fake.unique.random_int(min=1000, max=2000)}' for _ in range(num_cust)],
    'customer_id': [fake.random_int(min=100000000000000, max=999999999999999) for _ in range(num_ip)],
    'customer_name': [fake.name() for _ in range(num_cust)],
    'customer_address': [fake.address() for _ in range(num_cust)],
    'customer_phone': [fake.phone_number() for _ in range(num_cust)],
    'customer_email': [fake.email() for _ in range(num_cust)],
    'customer_origin': [fake.country() for _ in range(num_cust)],
    'customer_segment': [fake.random_element(elements=('Retail', 'Wholesale', 'Corporate','Personal')) for _ in range(num_cust)],
    'customer_type': [fake.random_element(elements=('Local', 'International')) for _ in range(num_cust)],
    'customer_ship_address': [fake.address() for _ in range(num_cust)],
    'customer_shipping_method': [fake.random_element(elements=('Air', 'Sea', 'Land')) for _ in range(num_cust)],
    'created_date': [fake.date_time_this_year() for _ in range(num_cust)],
    'modified_date': [fake.date_time_this_year() for _ in range(num_cust)],
    'created_by' : [fake.user_name() for _ in range(num_cust)],
    'modified_by' : [fake.user_name() for _ in range(num_cust)],
    'sys_id': [fake.random_int(min=100000000000000, max=999999999999999) for _ in range(num_cust)]
}
cust = pd.DataFrame(cust_data)
cust.to_parquet(r"dwh\customer\customer.parquet",index=False)

In [61]:
#faker generate pricing information
num_pricing = 9
pricing_data = {
    'pricing_id': [f'P{fake.unique.random_int(min=1, max=1000)}' for _ in range(num_pricing)],
    'pricing_name': [fake.word() for _ in range(num_pricing)],
    'pricing_description': [fake.sentence() for _ in range(num_pricing)],
    'pricing_unit': [fake.random_element(elements=('postpaid', 'int_pkg','lcl_pkg', 'on_demand')) for _ in range(num_pricing)],
    'pricing_rate': [fake.random_int(min=1000, max=10000) for _ in range(num_pricing)],
    'pricing_created_date': [fake.date_time_this_year() for _ in range(num_pricing)],
    'pricing_modified_date': [fake.date_time_this_year() for _ in range(num_pricing)],
    'pricing_created_by' : [fake.user_name() for _ in range(num_pricing)],
    'pricing_modified_by' : [fake.user_name() for _ in range(num_pricing)],
    'pricing_sys_id': [fake.random_int(min=100000000000000, max=999999999999999) for _ in range(num_pricing)]
}
pricing = pd.DataFrame(pricing_data)
pricing.to_excel(r"dwh\pricing\pricing.xlsx",index=False)
pricing = pd.read_excel(r"dwh\pricing\pricing.xlsx")
pricing.to_parquet(r"dwh\pricing\pricing.parquet",index=False)

In [15]:
#generate prefix table in telco industry
num_prefix = 4
prefix_data = {
    'prefix_id': [f'PX{fake.unique.random_int(min=1, max=1000)}' for _ in range(num_prefix)],
    'prefix_number': [fake.word() for _ in range(num_prefix)],
    'prefix_origin': [fake.sentence() for _ in range(num_prefix)],
    'routing_dest': [fake.phone_number() for _ in range(num_prefix)],
    'prefix_created_date': [fake.date_time_this_year() for _ in range(num_prefix)],
    'prefix_modified_date': [fake.date_time_this_year() for _ in range(num_prefix)],
    'prefix_created_by' : [fake.user_name() for _ in range(num_prefix)],
    'prefix_modified_by' : [fake.user_name() for _ in range(num_prefix)],
    'prefix_sys_id': [fake.random_int(min=100000000000000, max=999999999999999) for _ in range(num_prefix)]
}
pref = pd.DataFrame(prefix_data)
pref.to_excel(r"dwh\prefix\prefix.xlsx",index=False)
# pref.to_parquet(r"dwh\prefix\prefix.parquet",index=False)

In [19]:
#generate call detail record table
num_cdr = 1000
cdr_data = {
    'cdr_id': [fake.random_int(min=100000000000000, max=999999999999999) for _ in range(num_cdr)],
    'caller_customer_id': [fake.random_int(min=100000000000000, max=999999999999999) for _ in range(num_cdr)],
    'cdr_caller': [fake.phone_number() for _ in range(num_cdr)],
    'receiver_customer_id': [fake.random_int(min=100000000000000, max=999999999999999) for _ in range(num_cdr)],
    'cdr_receiver': [fake.phone_number() for _ in range(num_cdr)],
    'call_start': [fake.date_time_this_year() for _ in range(num_cdr)],
    'call_end': [fake.date_time_this_year() for _ in range(num_cdr)],
    'pricing_id': [fake.random_element(elements=('P1', 'P2', 'P3','P4','P5','P6','P7','P8','P9')) for _ in range(num_cdr)],
    'caller_ip_id': [fake.random_int(min=100000000000000, max=999999999999999) for _ in range(num_cdr)],
    'recever_ip_id': [fake.random_int(min=100000000000000, max=999999999999999) for _ in range(num_cdr)],
    'caller_prefix_id': [fake.random_element(elements=('PX1', 'PX2', 'PX3','PX4')) for _ in range(num_cdr)],
    'receiver_prefix_id': [fake.random_element(elements=('PX1', 'PX2', 'PX3','PX4')) for _ in range(num_cdr)],
    'cdr_created_date': [fake.date_time_this_year() for _ in range(num_cdr)],
    'cdr_modified_date': [fake.date_time_this_year() for _ in range(num_cdr)],
    'cdr_created_by' : [fake.user_name() for _ in range(num_cdr)],
    'cdr_modified_by' : [fake.user_name() for _ in range(num_cdr)],
    'cdr_sys_id': [fake.random_int(min=100000000000000, max=999999999999999) for _ in range(num_cdr)]
}
cdr = pd.DataFrame(cdr_data)
cdr.to_parquet(r"dwh\cdr\cdr.parquet",index=False)

In [80]:
#generate transaction table for fact table
num_tran = 1000
trans_data = {
    'trans_id': [fake.random_int(min=100000000000000, max=999999999999999) for _ in range(num_cdr)],
    'customer_id': [fake.random_int(min=100000000000000, max=999999999999999) for _ in range(num_cdr)],
    "pricing_id": [fake.random_element(elements=('P1', 'P2', 'P3','P4','P5','P6','P7','P8','P9')) for _ in range(num_cdr)],
    "qty": [fake.random_int(min=1, max=100) for _ in range(num_cdr)],
    'transaction_price': [fake.random_int(min=1000, max=10000) for _ in range(num_cdr)],
    'transaction_date': [fake.date_time_this_year() for _ in range(num_cdr)],
    'transaction_status': [fake.random_element(elements=('Success', 'Failed')) for _ in range(num_cdr)],
    'created_date': [fake.date_time_this_year() for _ in range(num_cdr)],
    'modified_date': [fake.date_time_this_year() for _ in range(num_cdr)],
    'created_by' : [fake.user_name() for _ in range(num_cdr)],
    'modified_by' : [fake.user_name() for _ in range(num_cdr)],
    'sys_id': [fake.random_int(min=100000000000000, max=999999999999999) for _ in range(num_cdr)]
}
trans = pd.DataFrame(trans_data)
trans.to_parquet(r"dwh\transaction\transaction.parquet",index=False)

In [20]:
batch = pd.read_parquet(r"dwh\cdr\cdr.parquet")

In [69]:
#init fulload
batch = pd.read_parquet(r"dwh\cdr\cdr.parquet")
batch.to_parquet(r"batch_job\cdr.parquet",index=False)

In [68]:
# pd.read_parquet("dwh\cdr\cdr.parquet")#.to_excel("dwh\cdr\cdr.xlsx",index=False)
pd.read_excel("dwh\cdr\cdr.xlsx").to_parquet("dwh\cdr\cdr_case1.parquet",index=False)

In [ ]:
846861627918753
846861628118753
#delete
916531214989267

In [74]:
def batch_cdr():
    #case1: updated data
    #case2: added new data
    #case3: deleted data
    #get cdr_modified_date from last 3 days
    existing_clean_cdr_path = r"batch_job\cdr.parquet"
    new_batch_cdr_path = r"dwh\cdr\cdr_case1.parquet"
    output_clean_cdr_path = r"batch_job\cdr.parquet"

    df_before = pd.read_parquet(existing_clean_cdr_path)
    df_after = pd.read_parquet(new_batch_cdr_path)
    
    df_before['cdr_modified_date'] = pd.to_datetime(df_before['cdr_modified_date'])
    df_after['cdr_modified_date'] = pd.to_datetime(df_after['cdr_modified_date'])
    #get last 3 days modified data
    updated = df_after[df_after['cdr_modified_date'] > datetime.datetime.now() - datetime.timedelta(days=3)]

    #check if updated has data or not
    if updated.shape[0] > 0:
        #unique business id
        u_cdr = df_after['cdr_id'].unique()
        to_update = df_after[df_after['cdr_id'].isin(updated['cdr_id'])]
        #update old data with updated data, covers updated data and new data
        df_before = df_before[~df_before['cdr_id'].isin(updated['cdr_id'])]
        df_before = pd.concat([df_before, to_update])
        #inner join df_before u_cdr to cover deleted data
        df_before = df_before[df_before['cdr_id'].isin(u_cdr)]
        df_before.to_parquet(output_clean_cdr_path, index=False)
        return "data is updated"
    
    return "data is updated"

In [77]:
pd.read_parquet(r"batch_job\cdr.parquet").shape

(1001, 17)

In [84]:
trans_j = pd.read_json(r"dwh\transaction\trans.json")

In [86]:
trans_j

,trans_id,customer_id,pricing_id,qty,transaction_price,transaction_date,transaction_status,created_date,modified_date,created_by,modified_by,sys_id
0,201085799583784,383073866256459,P2,60,3111,1709506040000,Failed,1725050633000,1720108803000,ashleyballard,lance11,808530406733797
1,896532040211464,777471865028086,P2,60,2358,1712500486000,Failed,1706206181000,1711915897000,debra54,diazcassandra,361246423345929
2,969248556875970,503305523163493,P4,97,1128,1706847047000,Failed,1706581393000,1708273048000,michelle94,robert85,185238877157712
3,574155685459538,960036378562938,P9,75,4387,1722516849000,Success,1724478063000,1722089432000,jgray,sarah05,310397345395243
4,958818765403850,720304600331669,P7,68,3870,1705734303000,Success,1724372823000,1717635087000,tvalencia,vperez,754261646402264
...,...,...,...,...,...,...,...,...,...,...,...,...
995,328966330689229,926313322819065,P4,51,2844,1724573329000,Failed,1723129100000,1718445900000,douglasellis,turnercolleen,147250556110229
996,653490370766789,651926825600814,P4,26,8902,1706839338000,Success,1714893626000,1706162700000,leeveronica,rebecca92,528962348545944
997,353277568293212,969358675479731,P1,80,3863,1717745672000,Success,1721599566000,1718245500000,cheryl14,katie39,736242347863702
998,803566568369206,740583522197665,P5,76,4371,1721567141000,Success,1714063791000,1723019640000,nicole94,valeriemorales,573969428324149
999,121051320834012,736581221861057,P2,69,7894,1709944753000,Success,1720824237000,1716412300000,edwardskelly,ohenry,148817012292054

In [83]:
#create JSON file of trans df
trans.to_json(r'dwh\transaction\trans.json', orient='records')

In [ ]:
df2 = df_stream \
              .withColumn('timestamp', unix_timestamp(col('TimestampType'), "MM/dd/yyyy hh:mm:ss aa").cast(TimestampType())) \
              .withWatermark("timestamp", "1 minutes") \
              .groupBy(col("SendID"), "timestamp") \
              .agg(max(col('timestamp')).alias("timestamp")) \
              .orderBy('timestamp', ascending=False)

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
#pyspark import unix_timestamp
from pyspark.sql.functions import unix_timestamp
#pyspark import TimestampType
from pyspark.sql.types import TimestampType
import pandas as pd

# Step 1: Set up the Spark session
spark = SparkSession.builder \
    .appName("Streaming JSON Processing") \
    .getOrCreate()
spark.sql("set spark.sql.streaming.schemaInference=true")
# Step 2: Define the streaming source (e.g., a directory)
input_directory = r"dwh\transaction"

# Step 3: Read the streaming JSON data into a PySpark DataFrame
streaming_df = spark.readStream \
    .format("json") \
    .option("path", input_directory) \
    .option("maxFilesPerTrigger", 1) \
    .load()

processed_df = streaming_df.select("customer_id", "transaction_price")

#write datafram to csv file
processed_df.writeStream \
    .outputMode("append") \
    .format("json") \
    .option("path", r"dwh\transaction\stream_out.json") \
    .option("checkpointLocation", "checkpoint") \
    .start().awaitTermination()

# Stop the Spark session
spark.stop()

Py4JJavaError: An error occurred while calling o40.start.
: java.lang.RuntimeException: java.io.FileNotFoundException: java.io.FileNotFoundException: HADOOP_HOME and hadoop.home.dir are unset. -see https://wiki.apache.org/hadoop/WindowsProblems
	at org.apache.hadoop.util.Shell.getWinUtilsPath(Shell.java:735)
	at org.apache.hadoop.util.Shell.getReadlinkCommand(Shell.java:309)
	at org.apache.hadoop.fs.FileUtil.readLink(FileUtil.java:212)
	at org.apache.hadoop.fs.RawLocalFileSystem.deprecatedGetFileLinkStatusInternal(RawLocalFileSystem.java:1113)
	at org.apache.hadoop.fs.RawLocalFileSystem.getFileLinkStatusInternal(RawLocalFileSystem.java:1102)
	at org.apache.hadoop.fs.RawLocalFileSystem.getFileLinkStatus(RawLocalFileSystem.java:1073)
	at org.apache.hadoop.fs.DelegateToFileSystem.getFileLinkStatus(DelegateToFileSystem.java:133)
	at org.apache.hadoop.fs.AbstractFileSystem.renameInternal(AbstractFileSystem.java:747)
	at org.apache.hadoop.fs.AbstractFileSystem.rename(AbstractFileSystem.java:720)
	at org.apache.hadoop.fs.ChecksumFs.renameInternal(ChecksumFs.java:489)
	at org.apache.hadoop.fs.AbstractFileSystem.rename(AbstractFileSystem.java:720)
	at org.apache.hadoop.fs.FileContext.rename(FileContext.java:1036)
	at org.apache.spark.sql.execution.streaming.FileContextBasedCheckpointFileManager.renameTempFile(CheckpointFileManager.scala:346)
	at org.apache.spark.sql.execution.streaming.CheckpointFileManager$RenameBasedFSDataOutputStream.close(CheckpointFileManager.scala:154)
	at java.base/sun.nio.cs.StreamEncoder.implClose(StreamEncoder.java:443)
	at java.base/sun.nio.cs.StreamEncoder.lockedClose(StreamEncoder.java:241)
	at java.base/sun.nio.cs.StreamEncoder.close(StreamEncoder.java:226)
	at java.base/java.io.OutputStreamWriter.close(OutputStreamWriter.java:267)
	at com.fasterxml.jackson.core.json.WriterBasedJsonGenerator.close(WriterBasedJsonGenerator.java:1004)
	at com.fasterxml.jackson.databind.ObjectMapper._writeValueAndClose(ObjectMapper.java:4573)
	at com.fasterxml.jackson.databind.ObjectMapper.writeValue(ObjectMapper.java:3804)
	at org.json4s.jackson.JacksonSerialization.write(Serialization.scala:36)
	at org.apache.spark.sql.execution.streaming.StreamMetadata$.write(StreamMetadata.scala:81)
	at org.apache.spark.sql.execution.streaming.StreamExecution.$anonfun$streamMetadata$1(StreamExecution.scala:140)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.execution.streaming.StreamExecution.<init>(StreamExecution.scala:138)
	at org.apache.spark.sql.execution.streaming.MicroBatchExecution.<init>(MicroBatchExecution.scala:49)
	at org.apache.spark.sql.streaming.StreamingQueryManager.createQuery(StreamingQueryManager.scala:279)
	at org.apache.spark.sql.streaming.StreamingQueryManager.startQuery(StreamingQueryManager.scala:326)
	at org.apache.spark.sql.streaming.DataStreamWriter.startQuery(DataStreamWriter.scala:427)
	at org.apache.spark.sql.streaming.DataStreamWriter.startInternal(DataStreamWriter.scala:406)
	at org.apache.spark.sql.streaming.DataStreamWriter.start(DataStreamWriter.scala:249)
	at java.base/jdk.internal.reflect.DirectMethodHandleAccessor.invoke(DirectMethodHandleAccessor.java:104)
	at java.base/java.lang.reflect.Method.invoke(Method.java:578)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1589)
Caused by: java.io.FileNotFoundException: java.io.FileNotFoundException: HADOOP_HOME and hadoop.home.dir are unset. -see https://wiki.apache.org/hadoop/WindowsProblems
	at org.apache.hadoop.util.Shell.fileNotFoundException(Shell.java:547)
	at org.apache.hadoop.util.Shell.getHadoopHomeDir(Shell.java:568)
	at org.apache.hadoop.util.Shell.getQualifiedBin(Shell.java:591)
	at org.apache.hadoop.util.Shell.<clinit>(Shell.java:688)
	at org.apache.hadoop.util.StringUtils.<clinit>(StringUtils.java:79)
	at org.apache.hadoop.conf.Configuration.getTimeDurationHelper(Configuration.java:1907)
	at org.apache.hadoop.conf.Configuration.getTimeDuration(Configuration.java:1867)
	at org.apache.hadoop.conf.Configuration.getTimeDuration(Configuration.java:1840)
	at org.apache.hadoop.util.ShutdownHookManager.getShutdownTimeout(ShutdownHookManager.java:183)
	at org.apache.hadoop.util.ShutdownHookManager$HookEntry.<init>(ShutdownHookManager.java:207)
	at org.apache.hadoop.util.ShutdownHookManager.addShutdownHook(ShutdownHookManager.java:304)
	at org.apache.spark.util.SparkShutdownHookManager.install(ShutdownHookManager.scala:181)
	at org.apache.spark.util.ShutdownHookManager$.shutdownHooks$lzycompute(ShutdownHookManager.scala:50)
	at org.apache.spark.util.ShutdownHookManager$.shutdownHooks(ShutdownHookManager.scala:48)
	at org.apache.spark.util.ShutdownHookManager$.addShutdownHook(ShutdownHookManager.scala:153)
	at org.apache.spark.util.ShutdownHookManager$.<init>(ShutdownHookManager.scala:58)
	at org.apache.spark.util.ShutdownHookManager$.<clinit>(ShutdownHookManager.scala)
	at org.apache.spark.util.Utils$.createTempDir(Utils.scala:343)
	at org.apache.spark.deploy.SparkSubmit.prepareSubmitEnvironment(SparkSubmit.scala:344)
	at org.apache.spark.deploy.SparkSubmit.org$apache$spark$deploy$SparkSubmit$$runMain(SparkSubmit.scala:901)
	at org.apache.spark.deploy.SparkSubmit.doRunMain$1(SparkSubmit.scala:180)
	at org.apache.spark.deploy.SparkSubmit.submit(SparkSubmit.scala:203)
	at org.apache.spark.deploy.SparkSubmit.doSubmit(SparkSubmit.scala:90)
	at org.apache.spark.deploy.SparkSubmit$$anon$2.doSubmit(SparkSubmit.scala:1046)
	at org.apache.spark.deploy.SparkSubmit$.main(SparkSubmit.scala:1055)
	at org.apache.spark.deploy.SparkSubmit.main(SparkSubmit.scala)
Caused by: java.io.FileNotFoundException: HADOOP_HOME and hadoop.home.dir are unset.
	at org.apache.hadoop.util.Shell.checkHadoopHomeInner(Shell.java:467)
	at org.apache.hadoop.util.Shell.checkHadoopHome(Shell.java:438)
	at org.apache.hadoop.util.Shell.<clinit>(Shell.java:515)
	... 22 more

In [3]:
spark